button{
    background-color: aqua;
    padding: 50px 40px 30px 20px;/*goes clockwise from top right down left*/
    /*this is the equivalent of
     padding-top : 50px;
     padding-right 40px;
     padding-bottom: 30px;
     padding-left: 20px;    
    */
}

/*The same can be done with headings and other element*/

h1{
    background-color: indianred;
    margin: 50px; /*changes the outer margin*/
    padding: 50px; /*changes the size of the element*/
 }